html{
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'Kiwi Maru', serif;
    background-color: rgb(223, 0, 0);
}
body{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fcca3d;
    padding: 0 20px 20px 20px;
    border: 7px dashed #000;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: rgb(223, 0, 0);
}
a:hover{
    font-weight: 600;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(223, 0, 0);
    text-shadow: 3px 3px 1px black;
}
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img{
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}